<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="Access-Control-Allow-Origin" />
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
		<handlers>... </handlers>
		<rewrite>
			<rules>
				<rule name="CORS Preflight" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
					</conditions>
					<action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="OK" />
				</rule>
				<rule name="HTTP to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect"
                  url="https://{HTTP_HOST}/{R:1}"
                  redirectType="Permanent"
                  appendQueryString="true" />
				</rule>
				<rule name="SPA fallback" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
