openapi: 3.0.3
info:
  title: LegacyAuthGateway API
  version: 1.0.0
  description: "Transitional authentication gateway between Old Internet Banking (WebForms)
    and New Internet Banking (React). Provides token issuance, URL bridge to OldIB,
    and token revocation."

servers:
  - url: https://ibank.privatbanka.sk/api
tags:
  - name: token
    description: Issue tokens and revoke them.
  - name: url
    description: Bridge to OldIB for unsupported features.

paths:
  /v1/token:
    post:
      tags:
        - token
      summary: Issue access token or request login
      description: "If no code is provided, returns 401 with login URL in the WWW-Authenticate header.
        If code is provided, exchanges it for an access token."
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Token successfully issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Login required
          headers:
            WWW-Authenticate:
              description: URL of Old Internet Banking login form
              schema:
                type: string
              example: https://ibankdev.privatbanka.sk/ExtranetRedirect/Pages/Login.aspx
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - token
      summary: Revoke access token
      description: Revokes the currently authenticated access token.
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Token successfully revoked
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/url:
    post:
      tags:
        - url
      summary: Get redirect URL to Old Internet Banking feature
      description: "Returns a URL and one-time code for redirecting the user
        to a feature implemented only in Old Internet Banking."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlRequest'
      responses:
        '200':
          description: URL and one-time code generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlResponse'
        '401':
          description: Unauthorized or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: UUID

  schemas:
    TokenRequest:
      type: object
      properties:
        code:
          type: string
          description: One-time authorization code generated by Old Internet Banking.
      additionalProperties: false
    TokenResponse:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Opaque access token used for Bearer authentication.
    UrlRequest:
      type: object
      required:
        - pageIdentifier
        - clientId
      properties:
        pageIdentifier:
          type: string
          description: Identifier of Old Internet Banking feature.
          enum:
            - TBD
        clientId:
          type: string
          description: Client identifier (Klientské číslo).
    UrlResponse:
      type: object
      required:
        - url
        - code
      properties:
        url:
          type: string
          format: uri
          description: Redirect URL to Old Internet Banking.
        code:
          type: string
          description: One-time code used for authentication in Old Internet Banking.
    ErrorResponse:
      type: object
      required:
        - code
        - message
      additionalProperties: false
      properties:
        field:
          type: string
          nullable: true
          description: Optional field name that failed validation.
        message:
          type: string
          description: Short message.
        details:
          type: object
          nullable: true
          description: Optional technical details (non-sensitive).
        code:
          type: string
          description: Stable error code.
